.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url('../img/home-bg.jpg');
  background-color: #eee;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  height: 150px;
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #2d2210;
  border-color: #2d2100;
}

.main {
  position: relative;
  width: 100%;
  padding: 40px 100px 40px 100px;
  border-radius: 10px;
}

.post-header {
  margin-left: 40px;
  margin-right: 40px;
}

.post-title {
  color: #2d2100;
  font-size: 15px;
}

.post-author {
  color: #2d2100;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.post-title-name {
  color: #2d2100;
  font-size: 24px;
  font-weight: bold;
}

.post-body {
  font-size: 18px;
  padding-bottom: 10px;
}

.post-category {
  margin-bottom: 5px;
}

.post-voted {
  color: #5bc0de;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.post-up-down-vote {
  margin-right: 5px;
}

.post-comment {
  padding-left: 5px;
}

.new-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.new-post button {
  display: block;
}

.btn-circle, .btn-circle-3d {
  border-radius: 50% !important;
}

.btn-primary.btn-circle {
  -webkit-box-shadow: 0px 0px 3px 1px #245580;
  -moz-box-shadow:    0px 0px 3px 1px #245580;
  box-shadow:         0px 0px 3px 1px #245580;
}

.edit-modal-footer {
  padding: 10px;
}

.edit-modal-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.single-post-header {
  background-image: url('../img/single-post-bg.jpg');
  background-color: #eee;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  height: 150px;
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.comments {
  margin-top: 10px;
}

.comments-head {
  font-weight: bold;
}

.comment-info {
  font-size: 0.9em;
  font-style: italic;
}

.comment-author {
  color: #2d2100;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.comment-body {
  margin-top: 5px;
}

.comment-buttons {
  position: relative;
  float: right;
}

.comment-button {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .App-header {
    background-image: url('../img/home-bg-small.jpg');
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
  }

  .main {
    padding: 10px;
  }

  .post-header {
    margin-left: 10px;
    margin-right: 10px;
  }

  .post-title {
    font-size: 12px;
  }

  .post-title-name {
    font-size: 18px;
  }

  .single-post-header {
    background-image: url('../img/single-post-bg-small.jpg');
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
  }
}
